# Numerous always-ignore extensions #
#####################################
*~
*.temp
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache
.temp
temp/*
*.swp
src/*

# OS and/or Editor files/folders #
##################################
*.esproj
*.komodoproject
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.komodotools
.project
.settings
.Spotlight-V100
.DocumentRevisions-V100
.tmproj
.Trashes
Thumbs.db
desktop.ini
nbproject

# Other source repository directories #
#######################################
.CVS
.hg
.idea
.svn
CVS
